$green-color : rgba(144,238,144,0.9);
$fond-color : rgba(245,245,245, 0.8);
$button-color : rgb(87, 230, 87);
$button-deconnexion-color: rgb(238, 79, 79);
$title-font: "Caveat", sans-serif;

@mixin display($type) {
    .d-#{$type} {
        display: $type;
    }
}
@include display(flex);
@include display(none);

@mixin align-items($type) {
    .al-#{$type} {
        align-items: $type;
    }
}
@include align-items(center);

body{
    margin: 0;
    background-color: $fond-color;
}
header{
    background-color: $green-color;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
}
.en-tete{
    font-size: 4vh;
    font-family: $title-font;
}
.button{
    border-radius: 20px;
    height: 5vh;
    border: none;
    padding: 0 1vh;
    margin: 2vh 0;
    background-color: $button-color;
    width: 50vw;
    cursor: pointer;
    &:hover{
        background-color: darken($button-color, 20);
    }
}
.button-deconnexion{
    background-color: $button-deconnexion-color;
    width: 25vw;
    &:hover{
        background-color: darken($button-deconnexion-color, 10);
    }
}
.icone{
    border-radius: 50%;
    height: 7vh;
}
.div-center{
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    &::after{
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-image: url("../../Image/fond.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
    }
}
.div-center-plante{
    height: auto;
    margin: 3vh;
    &::after{
        height: 150vh;
    }
}
.logo{
    width: 30vw;
}
.cadre{
    flex-direction: column;
    background-color: $fond-color;
    padding: 1vw;
}
.texte{
    margin: 1vw;
    padding: 2vw;
    text-align: center;
}
.text-area > textarea{
    width: 20vw;
    height: 10vh;
}
ul{
    padding: 0 1vh;
    li{
        display: flex;
        justify-content: space-between;
        margin: 3vh 0;
    }
}
@media screen and (min-width: 700px){
    .en-tete{
        font-size: 6vh;
    }
    .button{
        width: 15vw;
    }
    .button-deconnexion{
        width: 7vw;
    }
    .logo{
        width: 10vw;
    }
    .cadre{
        width: 50%;
    }
    .cadre-form{
        width: 25%;
    }
    .cadre-user{
        border-radius: 10%;
    }
    .cadre-button{
        width: auto;
        flex-direction: row;
    }
    .texte{
        padding: 0;
    }
}