body{
    margin: 0;
    background-color: whitesmoke;
}
header{
    background-color: rgb(33, 177, 33);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
}
.en-tete{
    font-size: 3vh;
}
input{
    border-radius: 20px;
    height: 3vh;
    border: none;
    padding: 0 1vh;
}
.icone{
    border-radius: 50%;
    height: 7vh;
}