.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.al-center {
  align-items: center;
}

.flex-col-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.message-succes {
  height: 50vh;
  width: 50vh;
  background-color: rgba(144, 238, 144, 0.9);
  border-radius: 20px;
}

.h-90vh {
  height: 90vh;
}

.gap-2vh {
  gap: 2vh;
}

.margin-t-2vh {
  margin-top: 2vh;
}

.margin-b-2vh {
  margin-bottom: 2vh;
}

body {
  margin: 0;
  background-color: rgba(245, 245, 245, 0.8);
}

.cadre-textes {
  width: 50vh;
  background-color: rgba(144, 238, 144, 0.9);
  border: 2px #006600 solid;
  border-radius: 10px;
  text-align: center;
}

.dimensions-jouer, .camera, .cadre-feuille, .container-camera {
  height: 50vh;
  width: 50vh;
}

.container-camera {
  position: relative;
  background-color: #006600;
  border-radius: 20px;
}

.cadre-feuille {
  top: 0%;
  position: absolute;
  border-radius: 20px;
  z-index: 1;
}

.camera {
  top: 0%;
  position: absolute;
}

.photo {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 12.5%;
  width: 100%;
}

.button {
  border-radius: 20px;
  height: 5vh;
  border: none;
  padding: 0 1vh;
  margin: 2vh 0;
  background-color: rgb(87, 230, 87);
  width: 50vw;
  cursor: pointer;
}
.button:hover {
  background-color: #1cbb1c;
}

.buttons-jouer, .button-reesayer, .button-upload, .button-camera, .button-photo, .button-revoir {
  position: absolute;
  z-index: 2;
  border: none;
  padding: 0 1vh;
  border-radius: 10px;
  background-color: rgb(87, 230, 87);
  cursor: pointer;
}
.buttons-jouer:hover, .button-reesayer:hover, .button-upload:hover, .button-camera:hover, .button-photo:hover, .button-revoir:hover {
  background-color: #1cbb1c;
}

.button-revoir {
  top: 90.5%;
  left: 30%;
  height: 7%;
  width: 40%;
}

.button-photo {
  height: 12%;
  width: 12%;
  border-radius: 50px;
  border: 2px solid rgb(87, 230, 87);
  top: 72%;
  left: 45%;
  font-size: 25px;
  text-align: center;
}

.button-camera {
  top: 50%;
  left: 25%;
  height: 5vh;
  width: 50%;
  cursor: pointer;
}

.button-upload {
  top: 90.5%;
  left: 5%;
  height: 7%;
  width: 40%;
}

.button-reesayer {
  top: 90.5%;
  right: 5%;
  height: 7%;
  width: 40%;
}

header {
  background-color: rgba(144, 238, 144, 0.9);
  width: 100%;
  height: 10vh;
  justify-content: space-around;
}

.en-tete {
  font-size: 4vh;
  font-family: "Caveat", sans-serif;
}

.button-deconnexion {
  background-color: rgb(238, 79, 79);
  width: 25vw;
}
.button-deconnexion:hover {
  background-color: #ea2020;
}

.icone {
  border-radius: 50%;
  height: 8vh;
  width: 12vw;
}

.div-center {
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.div-center::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../../Image/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.div-center-plante {
  height: auto;
  margin: 3vh;
}
.div-center-plante::after {
  height: 150vh;
}

.logo {
  width: 30vw;
}

.cadre {
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 1vw;
}

.texte {
  margin: 1vw;
  padding: 2vw;
  text-align: center;
}

.text-area > textarea {
  width: 20vw;
  height: 10vh;
}

ul {
  padding: 0 1vh;
}
ul li {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
}

@media screen and (min-width: 700px) {
  .en-tete {
    font-size: 6vh;
  }
  .button {
    width: 15vw;
  }
  .button-deconnexion {
    width: 7vw;
  }
  .logo {
    width: 10vw;
  }
  .cadre {
    width: 50%;
  }
  .cadre-form {
    width: 25%;
  }
  .cadre-user {
    border-radius: 10%;
  }
  .cadre-button {
    width: auto;
    flex-direction: row;
  }
  .texte {
    padding: 0;
  }
  .icone {
    width: 4vw;
  }
}

/*# sourceMappingURL=style.css.map */
