{% extends 'base.html.twig' %}

{% block title %}Plantes{% endblock %}

{% block header %}
    <input type="button" class="button button-deconnexion" value="Retour" onclick="window.location.href='{{path('Admin')}}';">
    <h1 class="en-tete">Plantes</h1>
    <input type="button" class="button button-deconnexion" value="Déconnexion" onclick="window.location.href='{{path('Premiere_page')}}';">
{% endblock %}

{% block body %}
<div class="div-center d-flex al-center">
    <div class="cadre cadre-button al-center d-flex">
        {% if active == 1 %}
            <input type="button" class="button" value="Ajouter une plante">
            <input type="button" class="button" value="Voir les anciennes plantes" onclick="window.location.href='/admin/plantes/ancienne';">
        {% endif %}
        {% if active == 0 %}
            <input type="button" class="button" value="Voir les plantes en jeu" onclick="window.location.href='/admin/plantes/';">
        {% endif %}
    </div>
    {% for plante in plantes %}
        <input type="button" class="button" value="{{plante.nom}}" onclick="window.location.href='/admin/plantes/{{plante.id}}';">
    {% endfor %}

</div>
{% endblock %}