{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}
    <h1>Cherche et Trouve</h1>
{% endblock %}

{% block body %}
    <p>Ici formualire pour se connecter<p>
{% endblock %}