{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
    <input type="button" value="Déconnexion" onclick="window.location.href='{{path('Premiere_page')}}';">
    <h1 class="en-tete">Cherche et Trouve</h1>
    <img class="icone" src="https://cpelieu.com/wp-content/uploads/2022/09/avatar2.jpg">
{% endblock %}

{% block body %}
    <p>test</p>
{% endblock %}