{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block header %}
    <h1 class="en-tete">Cherche et Trouve</h1>
{% endblock %}

{% block body %}
    <p>Ici formualire pour s'inscrire<p>
{% endblock %}