{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block header %}
    <h1 class="en-tete">Cherche et Trouve</h1>
{% endblock %}

{% block body %}
<div class="div-center d-flex al-center">
    <p>Ici formualire pour s'inscrire<p>
</div>
{% endblock %}